<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 align="center"  > Video Storage </h1>
    <div class="index_div" align="center" >
        <a href="upload" style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">Upload Video</a>
        <a href="browse" style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">Browse Video</a>
        <a href="charges" style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">See Charges</a>
    </div>
    <h3 align="center" >{{ message }}</h3>
</body>
</html>